.hero {
  text-align: center;
  padding-top: var(--header-height);
  color: rgba(var(--text), 0.8);
}

.hero::before {
  content: " ";
  background: radial-gradient(
      47.84% 61.25% at 50% 0%,
      rgba(var(--primary), 0.06) 0%,
      rgba(var(--primary), 0) 100%
    ),
    radial-gradient(
      28.37% 15.33% at 50% 42.67%,
      rgba(var(--primary), 0.2) 0%,
      rgba(var(--primary), 0) 100%
    );
  left: calc(50% - 820px);
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 1000px;
  width: 1640px;
  z-index: -1;
}

.hero > h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 80px;
  margin-bottom: 24px;
  padding-top: 140px;
}

.search {
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.bgStars {
  pointer-events: none;
  -webkit-mask-image: radial-gradient(
    30% 60% at 50% 50%,
    #fff 17.51%,
    rgba(255, 255, 255, 0) 100%
  );
  mask-image: radial-gradient(
    30% 60% at 50% 50%,
    #fff 17.51%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0 185px;
  pointer-events: none;
  position: absolute;
  width: 1440px;
  height: 591px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
